/* Style the collapsible content. hidden by default */
.content {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fafafa;
  border: 1px whitesmoke solid;
  font-size: small;
  padding: 5px;
  display: block;
  max-height: 35rem;
  width: 100%;
  /* max-width: 330px; */
  color: black;
  box-sizing: border-box;
}

/* group the added details */
.content > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 2px;
  word-break: break-all;
}

/* space out text in the details */
.content .detail-desc {
  max-width: 55%;
  justify-self: flex-start;
  margin: 2px;
}

.content .detail-val {
  justify-self: flex-end;
  align-self: last baseline;
  margin: 2px;
}

.scoreboost {
  background-color: rgba(200, 16, 46, 0.2);
}

.scorenote {
  background-color: rgba(16, 19, 200, 0.2);
}

/* content dropdown scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #c8102e;
}

::-webkit-scrollbar-thumb:active {
  background: #a00d25;
}

/* -------- Score List --------- */

summary > * {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.hidden {
  display: none;
}