/* ---------------- Style sidebar ---------------- */

#sidebar {
  display: flex;
  flex-direction: column;
  min-height: 290px;
  min-width: 300px;
  width: 35%;
  max-width: 400px;
  height: 100%;
  background-color: white;
  padding: 16px;
  padding-top: 2vh;
  margin: 1rem;
  position: sticky;
  top: 2rem;
  /* box-sizing: border-box; */
}

#sidebar ul {
  list-style-type: disc;
}

#results-desc {
  padding: 0px 0px 24px;
}

#results-desc p {
  font-size: 19px;
  line-height: 24px;
  padding: 24px 0px 0px;
  margin: 0;
}

#results-desc h1 {
  font-size: 30px;
  padding-bottom: 8px;
  padding: 8px 0px 0px;
  margin: 0;
}

#sidebar button, select {
  background-color: #fff;
  border: 0.0625rem solid #d3d5d7;
  color: black;
  font-size: 18px;
}

#sidebar button:hover, select:hover {
  border: 0.0625rem solid #000;
}

#options {
  border-top: 0.0625 solid #e5e6e7;
  padding-top: 16px;
}

#options input {
  background-color: #fff;
  border: 0.09375rem solid #53565a;
  position: relative;
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
  top: 0.125rem;
}

input:checked {
  accent-color: #53535a;
}

#options label {
  font-size: 1.0625rem;
}

option {
  accent-color: #53535a;
}

#checklist {
  margin-top: 0.75rem;
  margin-bottom: 1rem;
}


/* search bar */
#choose-files > div {
  height: 3rem;
  width: 100%;
  position: relative;
}

#searchbar {
  border-radius: .25rem;
  color: #53565a;
  padding: 0 2rem 0 2.5rem;
  border: 1.5px solid #000;
  height: 3rem;
  width: 100%;
  line-height: 1.2;
  font-size: 16px;
}

#icon_search {
  position: absolute;
  box-sizing: border-box;
  top: 1rem;
  left: 0.75rem;
}

#icon_search > path {
  box-sizing: border-box;
  left: 0.75rem;
}

#searchbar::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: url('./img/plus.png');
}

#searchbar::-webkit-search-cancel-button::before, 
#searchbar::-webkit-search-cancel-button::after {
  transform: rotate(45deg);
}

/* loading animation for boost list */

#options svg {
  height: 100px;
  width: 250px;
  position: fixed;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
}

#load-circle {
  width: 250px;
  height: 100px;
  flex-grow: 0;
  z-index: 1;
  animation: strokeSpin 1.4s ease-in-out infinite both;
  stroke: #6b6f74;
  fill: transparent;
  stroke-dasharray: 150;
  stroke-linecap: round;
  stroke-width: 0.2rem;
  transform-origin: 50% 50%;
}

@keyframes strokeSpin {
  0%, 25% {
    stroke-dashoffset: 140;
    transform: rotate(0);
  }
  50%, 75% {
    stroke-dashoffset: 75;
    transform: rotate(45deg);
  }
  100% {
    stroke-dashoffset: 140;
    transform: rotate(360deg);
  }
}


/* the sidebar heading for scores */
#scores > div > h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-bottom: 0.5rem;
  padding: 3px;
  border-radius: 3px;
}

#scores > div > h2.active {
  border: 1px #c8102e solid;
}

#scores img {
  height: 1.25rem;
  width: 1.25rem;
}

.category {
  font-weight: 600;
  font-size: medium;
  position: relative;
}

/* -------- Score List --------- */

details {
  margin-left: 10px;
}

summary {
  display: flex;
  align-items: start;
  cursor: pointer;
  list-style: none;
}

summary::before {
  content: '▶︎';
  width: 1em;
  flex-shrink: 0;
  transition: 0.3s;
  padding-right: 0.2em;
}

details[open] > summary::before {
  transform: rotate(90deg);
  transform-origin: 40% 45% 0;
}

summary > * {
  display: flex;
  justify-content: space-between;
}

.content > details summary::before {
  padding-top: 2px;
}

.content > details[open] > summary::before {
  padding: 0;
  padding-left: 6px;
  transform: rotate(90deg);
  transform-origin: 40% 45% 0;
}

details:not([open]) > summary > div > p.detail-desc {
  -webkit-line-clamp: 6;
  line-clamp: 6;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 7rem;
  display: -webkit-box;
  /* white-space: nowrap; */
  -webkit-box-orient: vertical;
}


/* --------- Authentication --------- */

#auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#auth div {
  display: flex;
  align-items: center;
  cursor: pointer;
}

#auth svg {
  height: 1.5rem;
  width: 1.5rem;
}

#auth span {
  position: relative;
  font-size: 0.875rem;
  margin-left: 0.5rem;
}

#signin span:hover {
  right: 0;
  transition: right .25s ease-in-out;
}

#signin span:hover:after {
  background: #c8102e;
  bottom: -.3125rem;
  content: "";
  display: block;
  height: .125rem;
  width: 2.9rem;
  left: 0;
  position: absolute;
  right: 100%;
  top: auto;
  transition: right .25s ease-in-out;
}

#signin.active {
  color: #c8102e;
}

#choose-api {
  align-self: center;
  margin: 0.75rem 0 0.5rem;
}

#choose-api input {
  width: 80%;
}

#choose-api label {
  padding: 0.25rem;
}

#auth form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0.5rem;
  align-self: center;
}

#auth p {
  width: 75%;
  align-self: center;
  margin: 0.75rem 0 0.5rem;
}

#auth input {
  font-size: 16px;
  height: 1.5rem;
  border: 1.5px solid #000;
  border-radius: .25rem;
  padding: 0.3rem;
  color: #53565a;
  margin: 0.25rem;
}

#auth button {
  border: 1.5px solid #d3d5d7;
  border-radius: .25rem;
  padding: 0.3rem;
  margin: 0.25rem;
}

#auth button:active {
  background-color: #d3d5d7;
}

#auth .hidden {
  display: none;
}