/* default sizing is for a screen larger than ~1650x1084 (xlarge devices). */

/* large devices (desktops, laptops, 992px+) */
@media only screen and (max-width: 992px) {
  main {
    width: 100%; /* something less than 1580px*/
    margin: none;
  }

  #items {
    max-width: 75%;
  }
}

/* medium devices (tablets, 768px+) */
@media only screen and (max-width: 768px) {
  main {
    width: 100%; /* something less than 1580px*/
    margin: none;
  }

  #items {
    max-width: 75%;
  }
}

/* small devices (406px+) */
@media only screen and (max-width: 400px) {
  main {
    width: 100%; /* something less than 1580px*/
    margin: none;
  }

  #items {
    max-width: 75%;
  }

}