/* ---------------- Style sidebar ---------------- */

#sidebar {
  display: flex;
  flex-direction: column;
  min-height: 290px;
  width: 350px;
  height: 100%;
  background-color: white;
  padding: 16px;
  padding-top: 2vh;
  margin: 1rem;
  position: sticky;
  top: 2rem;
}

#sidebar ul {
  list-style-type: disc;
}

#results-desc {
  padding: 0px 0px 24px;
}

#results-desc p {
  font-size: 19px;
  line-height: 24px;
  padding: 24px 0px 0px;
  margin: 0;
}

#results-desc h1 {
  font-size: 30px;
  padding-bottom: 8px;
  padding: 8px 0px 0px;
  margin: 0;
}

#refresh, select {
  background-color: #fff;
  border: 0.0625rem solid #d3d5d7;
  color: black;
  font-size: 18px;
}

#refresh:hover, select:hover {
  border: 0.0625rem solid #000;
}

#options {
  border-top: 0.0625 solid #e5e6e7;
  padding-top: 16px;
}

#options input {
  background-color: #fff;
  border: 0.09375rem solid #53565a;
  position: relative;
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
  top: 0.125rem;
}

input:checked {
  accent-color: #53535a;
}

#options label {
  font-size: 1.0625rem;
}

option {
  accent-color: #53535a;
}

/* loading animation for boost list */

#options svg {
  height: 100px;
  width: 250px;
  position: fixed;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
}

#load-circle {
  width: 250px;
  height: 100px;
  flex-grow: 0;
  z-index: 1;
  animation: strokeSpin 1.4s ease-in-out infinite both;
  stroke: #6b6f74;
  fill: transparent;
  stroke-dasharray: 150;
  stroke-linecap: round;
  stroke-width: 0.2rem;
  transform-origin: 50% 50%;
}

/* @keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
} */

@keyframes strokeSpin {
  0%, 25% {
    stroke-dashoffset: 140;
    transform: rotate(0);
  }
  50%, 75% {
    stroke-dashoffset: 75;
    transform: rotate(45deg);
  }
  100% {
    stroke-dashoffset: 140;
    transform: rotate(360deg);
  }
}


/* expand dropdowns */

/* style minimized scorelist heading */
.expandToggle {
  position: relative;
  height: 2rem;
  width: 2rem;
}

/* by default the scorelist is expanded */
.expandedToggle {
  transition: transform .4s ease-in-out;
  height: 2rem;
  width: 2rem;
  
  z-index: 1;
  
}

.expandToggle:first-child {
  transform: rotate(90deg);
}

.expandedToggle:first-child {
  transform: rotate(0deg);
}

/* style heading svg */
.expandIcon {
  transition: transform .4s ease-in-out;
  position: absolute;
  height: 2rem;
  width: 2rem;

  
}

.expandIcon > path {
  /* background: blue; */
  background-color: green;
  color: black;
  fill: blue;
  stroke: red;
  stroke-width: 4px;;
  /* d : "M21.39 12.75a1 1 0 0 0 1-1v-.5h-19a1 1 0 0 0-1 1v.5Z"; */
}

/* show that the sidebar heading for scores is clickable */
#scores > div > h2 {
  /* cursor: pointer; */
}

.category {
  font-weight: 600;
  font-size: medium;
}

/* minimize the dropdown content on the sidebar */
.minimize {

}