/* ---------------- Style sidebar ---------------- */

#sidebar {
  display: flex;
  flex-direction: column;
  min-height: 290px;
  width: 30%;
  max-width: 350px;
  height: 100%;
  background-color: white;
  padding: 16px;
  padding-top: 2vh;
  margin: 1rem;
  position: sticky;
  top: 2rem;
  /* box-sizing: border-box; */
}

#sidebar ul {
  list-style-type: disc;
}

#results-desc {
  padding: 0px 0px 24px;
}

#results-desc p {
  font-size: 19px;
  line-height: 24px;
  padding: 24px 0px 0px;
  margin: 0;
}

#results-desc h1 {
  font-size: 30px;
  padding-bottom: 8px;
  padding: 8px 0px 0px;
  margin: 0;
}

#sidebar button, select {
  background-color: #fff;
  border: 0.0625rem solid #d3d5d7;
  color: black;
  font-size: 18px;
}

#sidebar button:hover, select:hover {
  border: 0.0625rem solid #000;
}

#options {
  border-top: 0.0625 solid #e5e6e7;
  padding-top: 16px;
}

#options input {
  background-color: #fff;
  border: 0.09375rem solid #53565a;
  position: relative;
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
  top: 0.125rem;
}

input:checked {
  accent-color: #53535a;
}

#options label {
  font-size: 1.0625rem;
}

option {
  accent-color: #53535a;
}

#checklist {
  margin-top: 0.75rem;
  margin-bottom: 1rem;
}


/* search bar */
#choose-files > div {
  height: 3rem;
  width: 100%;
  position: relative;
  /* font-size: 16px; */
  margin-top: 16px;
}

#searchbar {
  border-radius: .25rem;
  color: #53565a;
  padding: 0 2rem 0 2.5rem;
  border: 1.5px solid #000;
  height: 3rem;
  width: 100%;
  line-height: 1.2;
  font-size: 16px;
}

#icon_search {
  position: absolute;
  box-sizing: border-box;
  top: 1rem;
  left: 0.75rem;
}

#icon_search > path {
  box-sizing: border-box;
  /* position: absolute; */
  /* top: 1.125rem; */
  left: 0.75rem;
}

#searchbar::-webkit-search-cancel-button {
  /* color: black; */
  -webkit-appearance: none;
  
  height: 16px;
  width: 16px;
  background: url('./img/plus.png');
}

#searchbar::-webkit-search-cancel-button::before, 
#searchbar::-webkit-search-cancel-button::after {
  transform: rotate(45deg);
}

/* loading animation for boost list */

#options svg {
  height: 100px;
  width: 250px;
  position: fixed;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
}

#load-circle {
  width: 250px;
  height: 100px;
  flex-grow: 0;
  z-index: 1;
  animation: strokeSpin 1.4s ease-in-out infinite both;
  stroke: #6b6f74;
  fill: transparent;
  stroke-dasharray: 150;
  stroke-linecap: round;
  stroke-width: 0.2rem;
  transform-origin: 50% 50%;
}

/* @keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
} */

@keyframes strokeSpin {
  0%, 25% {
    stroke-dashoffset: 140;
    transform: rotate(0);
  }
  50%, 75% {
    stroke-dashoffset: 75;
    transform: rotate(45deg);
  }
  100% {
    stroke-dashoffset: 140;
    transform: rotate(360deg);
  }
}


/* expand dropdowns */

/* style minimized scorelist heading */
.expandToggle {
  position: relative;
  margin: 0;
  height: 1rem;
  width: 1rem;
  transition: transform .4s ease-in-out;
}

/* by default the scorelist is expanded */
.expandedToggle {
  transition: transform .4s ease-in-out;
  height: 1rem;
  width: 1rem;
  z-index: 1;
}

.expandToggle:first-child {
  transform: rotate(90deg);
  transition: transform .4s ease-in-out;
}

.expandedToggle:first-child {
  transform: rotate(0deg);
  transition: transform .4s ease-in-out;
}

/* style heading svg */
.expandIcon {
  transition: transform .4s ease-in-out;
  position: absolute;
  height: 1rem;
  width: 1rem;
}

.expandIcon > path {
  /* background: blue; */
  background-color: green;
  color: black;
  fill: blue;
  stroke: purple;
  stroke-width: 4px;
}

/* show that the sidebar heading for scores is clickable */
#scores > div > h2 {
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.category {
  font-weight: 600;
  font-size: medium;
  position: relative;
}