body {
  font-family: Calibre, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
}

h1 {
  font-size: medium;
  padding: 0;
  margin-bottom: 3px;
}

h2 {
  font-size: medium;
  font-weight: 400;
  line-height: 40%;
}

img {
  width: 100%;
  object-fit: fill;
  padding: 0;
  margin: 0;
}

.photo {
  height: 375px;
  overflow: hidden;
}

body > section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: top;
  row-gap: 2vh;
  width: 90%;
  margin: auto;
}

section > h1 {
  font-size: x-large;
  width: 100%;
  height: 3vh;
  background-color: #ffcee1;
  border-radius: 5px;
  padding: 1vh;
  margin-top: 2vh;
  text-align: center;
}

section.product-container {
  max-width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 3rem;
}

.card-contents {
  padding: 6px;
}

article.product-card {
  border: 1px whitesmoke solid;
  border-radius: 5px;
  width: 330px;
}

article.title-card {
  border: 1px grey solid;
}

article.product-card:hover {
  box-shadow: 4px 4px 4px rgb(255, 205, 213);
}

.product-card {
  display: flex;
  position: relative;
  flex-direction: column;
  background: white;
  border-radius: 16px;
  transition: .4s;
  z-index: inherit;
  min-height: 580px;
  max-height: 580px;
}


/* Solitaire Layout*/  
.product-card:hover {
  transform: translateX(2rem);
  z-index: 1;
}

.product-card:hover~.product-card {
  transform: translateY(70px);
  transform: translateX(-1rem);
}

.product-card:not(:first-child) {
  margin-top: -560px;
}

/*
  !!! add js function to slightly offset cards diagonally
  so they're easier to brush through
*/

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #ffe4f0;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ffcee1;
}

/* Style the collapsible content. hidden by default */
.content {
  overflow: hidden;
  background-color: #f1f1f1;
  font-size: small;
  padding: 5px;
  display: block;
}

.hidden {
  display: none;
}