body {
  font-family: Calibre, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  background-color: #fafafa;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: space-evenly;
  max-width: 1580px;
  margin: auto;
  margin-top: 1rem;
}

/* ---------------- Style sidebar ---------------- */

#sidebar {
  display: flex;
  flex-direction: column;
  top: 0;
  min-height: 290px;
  width: 320px;
  height: 100%;
  background-color: white;
  padding: 16px;
  padding-top: 2vh;
  margin: 1.5rem;
}

#sidebar ul {
  list-style-type: disc;
}

#results-desc {
  padding: 0px 0px 24px;
}

#results-desc p {
  font-size: 19px;
  line-height: 24px;
  padding: 24px 0px 0px;
  margin: 0;
}

#results-desc h1 {
  font-size: 30px;
  padding-bottom: 8px;
  padding: 8px 0px 0px;
  margin: 0;
}

#refresh, select {
  background-color: #fff;
  border: 0.0625rem solid #d3d5d7;
  color: black;
  font-size: 18px;
}

#refresh:hover, select:hover {
  border: 0.0625rem solid #000;
}

#options {
  border-top: 0.0625 solid #e5e6e7;
  padding-top: 16px;
}

#options input {
  background-color: #fff;
  border: 0.09375rem solid #53565a;
  position: relative;
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
  top: 0.125rem;
}

input:checked {
  accent-color: #53535a;
}

#options label {
  font-size: 1.0625rem;
}

option {
  accent-color: #53535a;
}

/* loading animation for boost list */

svg {
  height: 100px;
  width: 250px;
  position: fixed;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
}

#load-circle {
  width: 250px;
  height: 100px;
  flex-grow: 0;
  z-index: 1;
  animation: strokeSpin 1.4s ease-in-out infinite both;
  stroke: #6b6f74;
  fill: transparent;
  stroke-dasharray: 150;
  stroke-linecap: round;
  stroke-width: 0.2rem;
  transform-origin: 50% 50%;
}

/* @keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
} */

@keyframes strokeSpin {
  0%, 25% {
    stroke-dashoffset: 140;
    transform: rotate(0);
  }
  50%, 75% {
    stroke-dashoffset: 75;
    transform: rotate(45deg);
  }
  100% {
    stroke-dashoffset: 140;
    transform: rotate(360deg);
  }
}

/* ---------------- Style items section ---------------- */

h1 {
  font-size: medium;
  padding: 0;
  margin-bottom: 3px;
}

h2 {
  font-size: medium;
  font-weight: 400;
  line-height: 40%;
}

img {
  width: 100%;
  object-fit: fill;
  padding: 0;
  margin: 0;
}

.photo {
  height: 375px;
  overflow: hidden;
}

#items {
  width: 1150px;
  margin: 1.5rem;
}

#items > section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: top;
  box-sizing: border-box;
  /* row-gap: 2vh; */
  margin: auto;
}

#items > section.hidden {
  display: none;
}

/* Style the stack of cards */
.product-container {
  width: 330px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-bottom: 2rem;
  padding: 0 1.5rem 1.5rem;
}

/* Style each card */
.product-card {
  display: flex;
  position: relative;
  flex-direction: column;
  background: white;
  border: 1px grey solid;
  border-radius: 5px;
  width: 330px;
  transition: .5s;
  z-index: inherit;
  min-height: 580px;
  max-height: 580px;
}

/* article.product-card:hover {
  box-shadow: 4px 4px 4px rgb(255, 205, 213);
} */

.card-contents {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.title-card .card-search {
  color: white;
  background: #c8102e;
  width: 95%;
  margin: auto;
  padding: 2.5%;
  border-radius: 4px;
  align-self: center;
}


/* Solitaire layout transitions */  
.product-card:hover {
  transform: translateX(2rem);
  z-index: 1;
}

.product-card:hover~.product-card {
  transform: translateY(70px);
  transform: translateX(-1.5rem);
}

.product-card:not(:first-child) {
  margin-top: -560px;
}

/* Style the button to open/close collapsible content */
.collapsible {
  align-self: flex-end;
  background-color: #c8102e;
  color: white;
  font-weight: 600;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: 0.0625rem solid;
  border-radius: 0.25rem;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on */
.active, .collapsible:hover {
  background-color: #a00d25;
}

/* Style the collapsible content. hidden by default */
.content {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fafafa;
  border: 1px whitesmoke solid;
  font-size: small;
  padding: 5px;
  display: block;
  max-height: 590px;
  max-width: 310px;
}

/* group the added details */
.content > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 2px;
  word-break: break-all;
}

/* space out text in the details */
.content .detail-desc {
  max-width: 55%;
  justify-self: flex-start;
  margin: 2px;
}

.content .detail-val {
  justify-self: flex-end;
  align-self: last baseline;
  margin: 2px;
}

/* content dropdown scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #c8102e;
}

/* use to hide filtered cards based on boost */
.hide-boost {
  display: none;
}

/* loading animation for item cards */
.load-items {
  width: 1150px;
  height: 100%;
  position: fixed;
  z-index: 1;
}

.loading {
  animation: shimmerTile 2s forwards infinite;
  background-color: rgb(250, 250, 250);
  background-image: linear-gradient(90deg, rgb(250,250,250) 0px, rgb(229,230,231) 20%, rgb(250,250,250) 40%, rgb(250, 250, 250));
  background-repeat: no-repeat;
}

@keyframes shimmerTile {
  0% {
    background-position: -1150px 0;
  }
  100% {
    background-position: 1150px 0;
  }
}

.hidden {
  display: none;
}