body {
  font-family: Calibre, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  background-color: #fafafa;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: space-evenly;
  max-width: 1580px;
  margin: auto;
  margin-top: 1rem;
}


/* ---------------- Style items section ---------------- */

h1 {
  font-size: medium;
  padding: 0;
  margin-bottom: 3px;
}

h2 {
  font-size: medium;
  font-weight: 400;
  line-height: 40%;
}

img {
  width: 100%;
  object-fit: fill;
  padding: 0;
  margin: 0;
}

.photo {
  height: 375px;
  overflow: hidden;
}

#items {
  width: 1150px;
  margin: 1.5rem;
}

#items > section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: top;
  box-sizing: border-box;
  /* row-gap: 2vh; */
  margin: auto;
}

#items > section.hidden {
  display: none;
}

/* Style the stack of cards */
.product-container {
  width: 330px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-bottom: 2rem;
  padding: 0 1.5rem 1.5rem;
}

/* Style each card */
.product-card {
  display: flex;
  position: relative;
  flex-direction: column;
  background: white;
  border: 1px grey solid;
  border-radius: 5px;
  width: 330px;
  transition: .5s;
  z-index: inherit;
  min-height: 580px;
  max-height: 580px;
}

/* article.product-card:hover {
  box-shadow: 4px 4px 4px rgb(255, 205, 213);
} */

.card-contents {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.title-card .card-search {
  color: white;
  background: #c8102e;
  width: 95%;
  margin: auto;
  padding: 2.5%;
  border-radius: 4px;
  align-self: center;
}


/* Solitaire layout transitions */  
.product-card:hover {
  transform: translateX(2rem);
  z-index: 1;
}

.product-card:hover~.product-card {
  transform: translateY(70px);
  transform: translateX(-1.5rem);
}

.product-card:not(:first-child) {
  margin-top: -560px;
}


/* Style the button to open/close collapsible content */
.collapsible {
  align-self: flex-end;
  background-color: #c8102e;
  color: white;
  font-weight: 600;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: 0.0625rem solid;
  border-radius: 0.25rem;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on */
.active, .collapsible:hover {
  background-color: #a00d25;
}

/* Style the collapsible content. hidden by default */
.content {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fafafa;
  border: 1px whitesmoke solid;
  font-size: small;
  padding: 5px;
  display: block;
  max-height: 590px;
  max-width: 310px;
}

/* group the added details */
.content > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 2px;
  word-break: break-all;
}

/* space out text in the details */
.content .detail-desc {
  max-width: 55%;
  justify-self: flex-start;
  margin: 2px;
}

.content .detail-val {
  justify-self: flex-end;
  align-self: last baseline;
  margin: 2px;
}

/* content dropdown scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #c8102e;
}

/* use to hide filtered cards based on boost */
.hide-boost {
  display: none;
}

/* loading animation for item cards */
.load-items {
  width: 1150px;
  height: 100%;
  position: fixed;
  z-index: 1;
}

.loading {
  animation: shimmerTile 2s forwards infinite;
  background-color: rgb(250, 250, 250);
  background-image: linear-gradient(90deg, rgb(250,250,250) 0px, rgb(229,230,231) 20%, rgb(250,250,250) 40%, rgb(250, 250, 250));
  background-repeat: no-repeat;
}

@keyframes shimmerTile {
  0% {
    background-position: -1150px 0;
  }
  100% {
    background-position: 1150px 0;
  }
}

.hidden {
  display: none;
}