body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: large;
}

h2, h3 {
  font-size: medium;
}

img {
  width: 100%;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  row-gap: 2vh;;
  width: 80%;
  margin: auto;
}

section > h1 {
  font-size: x-large;
  width: 100%;
  height: 3vh;
  background-color: #ffcee1;
  border-radius: 5px;
  padding: 1vh;
  margin-top: 2vh;
  text-align: center;
}

article.card {
  border: 1px rgb(255, 80, 133) solid;
  border-radius: 5px;
  width: 250px;
  padding: 10px;
  margin: 15px;
}

article.card:hover {
  box-shadow: 4px 4px 4px rgb(255, 205, 213);
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #ffe4f0;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ffcee1;
}

/* Style the collapsible content. hidden by default */
.content {
  overflow: hidden;
  background-color: #f1f1f1;
  font-size: small;
  padding: 5px;
  display: block;
}

.hidden {
  display: none;
}